body {
    height: 200px;
    width: 400px;
    background-color: #FAFAD2;
  }
  h3 {
    color: #696969;
    border-bottom: double;
    border-bottom-color: #696969;
    font-size: 18px;
    font-family:"Old English Text MT";
  }
  input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div{
    position: absolute;
    top: 50px;
    height: 150px;
    width: 450px;
  }
  button{
    background-color: rgb(155, 210, 255);
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 4px;
  }
  button:hover{
    background-color: rgb(50, 150, 231);
    color: white;
  }
  button:disabled{
    background-color: rgb(202, 205, 207);
    color: black;
    cursor: not-allowed;
  }
  .ayuda {
    position: absolute;
    top: 135px;
    left: 5px;
    text-decoration: underline;
    color: rgb(79, 167, 226);
    cursor: pointer;
    border-color: black;
    height: 10px;
    width: 20px;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  top:0;
  left: 0;
  z-index: 1; /* Sit on top */
  height: 150px;
  width: 400px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(201, 216, 241);
  border: 1px solid #888;
  left: 40px;
  top: 15px;
  right: 40px;
  bottom: 15px;
  width: 80%;
  height: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
  animation-name: animatetop;
  animation-duration: 0.3s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }

  #username_label{
    position: absolute;
    top: 70px;
    left: 0%;
  }
  #username{
    position: absolute;
    top: 50px;
    left: 25%;
    width: 50%;
  }
  #formularios_label{
    position: absolute;
    top: 50px;
    left: 5px;
  }
  #configurar{
    position: absolute;
    top: 100px;
    left: 250px;
    width: 130px;
  }
  #configurar span{
    position: relative;
    transition: 0.3s;
    color: black;
  }
  #configurar span:after{
    content: '\00bb';
    right: -10px;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    color: white;
  }
  #configurar:hover:enabled span{
    padding-right: 15px;
    color: white;
  }
  #configurar:hover:enabled span:after{
    right:-15px;
    opacity:1;
    right: 0;
  }
  input[type=button].login {
    position: absolute;
    height: 30px;
    width: 75px;
    left: 5px;
  }
  input[type=button].autorrellenado {
    position: absolute;
    top: 80px;
    height: 30px;
    width: 90px;
  }
  #formularios {
    position: relative;
    left: 20px;
    font-weight: bold;
    overflow: auto;
    width: 100px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #330033;
    background: palegreen;
  }
  #elementos {
    position: relative;
    left: 30px;
    width: 120px;
  }
  #info_asignaciones{
    position: absolute;
    left: 5px;
    height: 15px;
  }

  #asignar{
    position: absolute;
    top: 100px;
    left: 280px;
  }

  select.configuracion, #elementos{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid rgb(87, 87, 87);
    color: black;
    font-size: 12px;
    overflow: hidden;
    padding: 5px 5px;
    white-space: nowrap;
  }

  select.configuracion:disabled, #elementos:disabled{
    color: rgb(146, 146, 146);
    cursor: not-allowed;
    border: 1px solid rgb(190, 190, 190);
  }

  #campos {
    position: absolute;
    width: 115px;
    top: 60px;
    left: 5px;
 }
 
  #tablas{
    position: absolute;
    width: 115px;
    top: 60px;
    left: 125px;
  }
  #atributos{
    position: absolute;
    width: 115px;
    left: 245px;
    top: 60px;
  }
  label{
    height: 500px;
    max-width: 500px;
  }